@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
}

  body {
    max-width: 1440px;
  }

  .main-sections {
    max-width: 1140px;
    margin: 0 auto;
  }  

/* navbar starts here */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 38px 150px ;
    align-items: center;
}

.text-primary {
  font-size: 28px;
  font-weight: bolder;
}

.btn-primary {
  height: 57px;
  width: 244px;
  border-radius: 8px;
  background-color: white;
  font-size: 20px;
  font-weight: 600;
}

.btn-secondary {
  height: 47px;
  width: 171px;
  border-radius: 0px;
  background-color: white;
  color: rgba(13, 19, 33, 0.7);
  font-size: 20px;
  font-weight: 600; 
}


.title-primary {
  font-size: 32px;
  font-weight: 800;
  margin-top: 50px;
}

.header {
  background-image: url(./assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 650px;
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

.header-container {
  text-align: center;
  color: rgba(13, 19, 33, 1);
  height: 580px;
  width: 1000px;
  margin-top: 26px;
  margin-bottom: 45px;
}

.banner-title {
  font-size: 32px;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 16px;
}

.banner-desc {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 32px;
}

.btn-2 {
  height: 65px;
  width: 244px;
  border-radius: 8px;
  background-color: rgba(13, 19, 33, 1);
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.why-web-dev {
  padding: 80px 97px 80px 97px;
}

.why-web-dev-layer h2 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
}

.why-web-dev-layer p {
  padding: 32px 0;
  color: rgba(13, 19, 33, 0.7);
}

.why-web-dev-title {
    text-align: center;
}
.why-web-dev-title p {
  padding: 24px;
  color: rgba(13, 19, 33, 0.7);
}

.why-web-dev-layer {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  gap: 133px;
}

.inspiration {
  text-align: center;
}

.inspiration p {
  padding: 24px;
  color: rgba(13, 19, 33, 0.7);
}

.target-title-desc {
  text-align: center;
}

.target-title-desc p {
  padding: 32px 0;
  color: rgba(13, 19, 33, 0.7);
}

.current-target-cards {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 10px 40px;
}

.card-1 {
  padding: 40px;
  width: 33.33%;
  border-radius: 16px;
  background-color: rgba(255, 76, 30, 0.05);
}

.card-2 {
  padding: 40px;
  width: 33.33%;
  border-radius: 16px;
  background-color: rgba(0, 76, 232, 0.05);
}

.card-3 {
  padding: 40px;
  width: 33.33%;
  border-radius: 16px;
  background-color: rgba(255, 223, 0, 0.05);
}

.next-target-cards img {
  margin-right: 50px;
}

.next-target-card-alignment {
  display: flex;
  padding: 50px;
}

.next-target-cards p {
  padding: 12px 0;
  color: rgba(13, 19, 33, 0.7);
}

#support-container {
  height: 315px;
  background-image: url(./assets/handshake.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support {
  text-align: center;
} 

.support h1 {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.support p {
  color: white;
  padding: 15px;
}

#text-area {
  height: 57px;
  width: 548px;
  border-radius: 8px;
}

.submit-btn {
  height: 57px;
  width: 120px;
  border-radius: 8px;
  background-color: white;
  font-size: 20px;
  font-weight: 600;

}

footer {
  height: 100px;
  display: flex;
  align-items: center;
}

.footer {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}